#board {
   width: 30em;
   height: 30em;
   background-color: #ecedd4;
   border-radius: 10px;
}

#board>div {
   position: absolute;
   grid-area: board;
}

#app {
   display: grid;
   grid-template-columns: repeat(5, 230px);
   grid-template-rows: 75% 25%;
   grid-template-areas: 'board board' 'buttons buttons';
   gap: 20px;

}

#buttons {
   display: flex;
   background-color: #ecedd4;
   grid-area: buttons;
   flex-wrap: wrap;
   justify-content: center;
   border-radius: 5px;

}

#buttons>div {
   margin: 20px 16px 10px 15px;
}

.jigsaw1,
.jigsaw2 {
   width: 3em;
   height: 3em;
   position: relative;
   -webkit-border-radius: .05em;
   -moz-border-radius: .05em;
   border-radius: .05em;
   cursor: pointer;
   background-image: url("logo.svg");
}

.jigsaw1,
.jigsaw1 span {
   background-color: #c9cba3;
}

.jigsaw2,
.jigsaw2 span {
   background-color: #929478;
}

.jigsaw1 .t,
.jigsaw2 .t {
   width: 1em;
   height: 1em;
   position: absolute;
   top: -0.7em;
   left: 1.03em;
   -webkit-border-radius: 2em;
   -moz-border-radius: 2em;
   border-radius: 2em;
}

.jigsaw1 .r,
.jigsaw2 .r {
   width: 1em;
   height: 1em;
   position: absolute;
   top: 1em;
   left: 2.75em;
   -webkit-border-radius: 2em;
   -moz-border-radius: 2em;
   border-radius: 2em;
}

.jigsaw1 .b,
.jigsaw2 .b {
   width: 0.9em;
   height: 0.9em;
   position: absolute;
   top: 2.25em;
   left: 1.1em;
   -webkit-border-radius: 2em;
   -moz-border-radius: 2em;
   border-radius: 2em;
   background-color: #ecedd4;

}

.jigsaw1 .l,
.jigsaw2 .l {
   width: 0.9em;
   height: 0.9em;
   position: absolute;
   top: 1.1em;
   left: -.2em;
   -webkit-border-radius: 2em;
   -moz-border-radius: 2em;
   border-radius: 2em;
   background-color: #ecedd4;
}

.toBoard {
   width: 6em;
   height: 6em;
   position: relative;
   cursor: pointer;
   background-image: url("logo.svg");
}

.jigsaw1 .toBoardt,
.jigsaw2 .toBoardt {
   width: 2em;
   height: 2em;
   position: absolute;
   top: -1.5em;
   left: 2.07em;
   -webkit-border-radius: 4em;
   -moz-border-radius: 4em;
   border-radius: 4em;
}

.jigsaw1 .toBoardr,
.jigsaw2 .toBoardr {
   width: 2em;
   height: 2em;
   position: absolute;
   top: 2em;
   left: 5.5em;
   -webkit-border-radius: 4em;
   -moz-border-radius: 4em;
   border-radius: 4em;
}

.jigsaw1 .toBoardb,
.jigsaw2 .toBoardb {
   width: 1.8em;
   height: 1.8em;
   position: absolute;
   top: 4.5em;
   left: 2.2em;
   -webkit-border-radius: 4em;
   -moz-border-radius: 4em;
   border-radius: 4em;
   background-color: #ecedd4;
}

.jigsaw1 .toBoardl,
.jigsaw2 .toBoardl {
   width: 1.8em;
   height: 1.8em;
   position: absolute;
   top: 2.2em;
   left: -.4em;
   -webkit-border-radius: 4em;
   -moz-border-radius: 4em;
   border-radius: 4em;
   background-color: #ecedd4;
}

button {
   font-size: 12px;
   width: 50px;
   height: 45px;
   border-radius: 5px;
   border: 2px solid #929478;
   background-color: #f2f3f0;
   animation-duration: 10ms;
}